build
.dart_tool
android/app/build.gradle.kts
android/app/my-release-key.jks
lib/main.dart
pubspec.lock
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugins.cmake
.flutter-plugins
.flutter-plugins-dependencies